.error
{
color:#da3652;
/*color:red;*/
font-style:normal;
font-weight:50;
font-family:sans-serif;
}
#successrequest{
   color:#68b716;
   font-weight: 600;
}
#successcareer1{
   color:#68b716;
   font-weight: 600;
}
#successcareer2{
   color:#68b716;
   font-weight: 600;
}
#successcareer3{
   color:#68b716;
   font-weight: 600;
}
#successcareer4{
   color:#68b716;
   font-weight: 600;
}
#successcareer5{
   color:#68b716;
   font-weight: 600;
}