.error
{
color:#da3652;
/*color:red;*/
font-style:normal;
font-weight:50;
font-family:sans-serif;
}
#successrequest{
   color:#68b716;
   font-weight: 600;
}
#successcareer1{
   color:#68b716;
   font-weight: 600;
}
#successcareer2{
   color:#68b716;
   font-weight: 600;
}
#successcareer3{
   color:#68b716;
   font-weight: 600;
}
#successcareer4{
   color:#68b716;
   font-weight: 600;
}
#successcareer5{
   color:#68b716;
   font-weight: 600;
}
.work-text-center {
	color: #000000;
	font-size: 36px !important;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
}
.help-block{
    color:red; 
}
.mainpage-subtitle{
    font-size: 38px;
    color: white;
    font-weight: 400;
}

#successcareers{
    color:#68b716;
   font-weight: 600;
}

.cc-window.cc-banner.cc-type-info.cc-theme-classic.cc-bottom.cc-color-override-335618816 {
    padding: 1rem 22%;
}

.cc-compliance a{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px;
    margin-top: 8px;
    border-radius: 51px;
    font-family: 'Poppins', sans-serif;
    /* color: #fff; */
    float: right;
    margin: 0px auto;
    width: 100%;
}





